dialog {
    width: 70%;
}

help {
    display: block;
    font-style: italic;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

button {
    margin-right: 5px;
}

button[confirm], button.confirm {
    background-color: #fa1360;
    border-color: #fc417f;
}

button[confirm]:hover, button.confirm:hover{
    background-color: #fc417f;
    border-color: #fa1360;
}

