* {
    box-sizing: border-box;
}

body {
    grid-template-columns: 1fr min(60rem, 90%) 1fr;
}

footer {
    border: 0 !important;
    margin-top: 2rem !important;
}

dialog {
    width: 70%;
}

help {
    display: block;
    font-style: italic;
}

.invalid:not(input) {
    color: red;
}

.valid:not(input) {
    color: green;
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

button {
    margin-right: 5px;
}

button[confirm], button.confirm {
    background-color: #fa1360;
    border-color: #fc417f;
}

button[confirm]:hover, button.confirm:hover{
    background-color: #fc417f;
    border-color: #fa1360;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 700px; */
    background: #efefef;
    box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);
}

.tabs > .input {
    position: absolute;
    opacity: 0;
}

.tabs > .label {
    width: 100%;
    padding: 5px 10px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
}

.tabs > .label:hover {
    background: #d8d8d8;
}

.tabs > .label:active {
    background: #ccc;
}

.tabs > .input:focus + .label {
    box-shadow: inset 0px 0px 0px 3px #2aa1c0;
    z-index: 1;
}

.tabs >.input:checked + .label {
    background: #fff;
    color: #000;
}

@media (min-width: 600px) {
    .tabs > .label {
        width: auto;
    }
    .tabs > .panel {
        order: 99;
    }
}

.tabs > .panel {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
}

.tabs > .input:checked + .label + .panel {
    display: block;
}

.type {
    color: #888;
}

#config-forms input.param,
#config-forms select.param {
    display: block;
}

#config-forms baseline .actual {
    color: green;
    font-size: smaller;
}
#config-forms baseline .dirty {
    color: red;
    font-size: smaller;
    text-decoration-line: line-through;
}

.tabs > .input:checked + .label.dirty {
    color: red;
}

.tabs > .label.dirty {
    color: #b80000;
}