dialog {
    width: 70%;
}

help {
    display: block;
    font-style: italic;
}

.invalid:not(input) {
    color: red;
}

.valid:not(input) {
    color: green;
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

button {
    margin-right: 5px;
}

button[confirm], button.confirm {
    background-color: #fa1360;
    border-color: #fc417f;
}

button[confirm]:hover, button.confirm:hover{
    background-color: #fc417f;
    border-color: #fa1360;
}


/*
 CSS for the main interaction
*/
.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}
  
  /*
   Styling
  */
  /* body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
  } */
  
.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset>label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

input:focus-visible+label {
    outline: 2px solid rgba(0, 102, 204, 1);
    border-radius: 3px;
}

.tabset>label:hover,
.tabset>input:focus+label,
.tabset>input:checked+label {
    color: #06c;
}

.tabset>label:hover::after,
.tabset>input:focus+label::after,
.tabset>input:checked+label::after {
    background: #06c;
}

.tabset>input:checked+label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 0 !important;
    border: 0 !important;
    border-top: 1px solid #ccc;
}

/**/

#tabs {
    margin-top: 10px;
}